@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.accueil{
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

/* Titre */

.accueil .accueil-titre h3{
    font-size: clamp(25px, 4.75vw, 60px);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.accueil .accueil-titre h3 span{
    color: #f0a500;
    font-weight: bold;
}

.accueil .accueil-titre h1{
    font-size: clamp(35px, 8.91vw , 110px);
    background: linear-gradient(45deg, #fa9a14, #cfa62a, #fcdd61);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-top: -20px;
    text-transform: capitalize;
    font-weight: bold;
}
.accueil .accueil-titre h2{
    font-size: clamp(24px, 2.5vw, 60px);
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

/* Description */

.accueil .accueil-description p{
    font-size: 22px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    padding-top: 240px;
}


/* media */
@media(max-width: 1024px) and (min-height: 586px){
    .accueil{
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 20px;
    }
    .accueil .accueil-titre h1{
        margin-top: 0px;
    }
    .accueil .accueil-description p{
        padding-top: 120px;
    }
    
    
}