@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.apropos{
    margin-left: 200px;
    margin-right: 200px;
}

/* Titre */
.apropos .apropos-titre {
    font-size: clamp(25px, 3.75vw, 50px);
    color: #ffffff;
    font-family: "Roboto Serif", serif;
    font-weight: bold;
    text-transform: uppercase;
    border-left: #f0a500 9px solid;
    padding-left: 10px;
    margin-bottom: 30px;
}

/* Description */
.apropos .apropos-description {
    display: flex;
    align-items: center;
}

.apropos .apropos-description p{
    font-size: 23px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    text-indent: 55px;
    float: left;
    padding-right: 30px;
}
.apropos .apropos-description .image{
    width: 220px;
    border-radius: 10px;
    float: right;
    box-shadow: #ffffff 0px 0px 5px 1px;
}


/* media */

@media(max-width: 1024px) and (min-height: 586px){
    .apropos{
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 20px;
        padding-bottom: 50px;
    }
    .apropos .apropos-description {
        flex-direction: column-reverse;
    }
    .apropos .apropos-description p{
        text-indent: 0px;
        padding: 35px 0px 0px 0px;
        margin-bottom: 0px;
    }


    .apropos .apropos-description .image{        
        width: 300px;
        height: 300px;
        border-radius: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        box-shadow: #ffffff 0px 0px 9px 1px;
    }    

}