@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;600&display=swap');

/* .card-categorie {
    position: relative;
    background: linear-gradient(-35deg, #9757cc, #480979);
    border-radius: 12px;
    box-shadow: 0px 0px 9px 1px rgba(173, 126, 211, 0.6);
    width: 350px;
    height: 370px; 
    perspective: 1000px;
    overflow: hidden;
}


.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}



.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    will-change: transform;

}

.card-categorie.flipped .card-front {
    transform: rotateY(180deg);
}

.card-categorie.flipped .card-back {
    transform: rotateY(360deg);
} */

.card-categorie {
    position: relative;
    background: linear-gradient(-35deg, #9757cc, #480979);
    border-radius: 12px;
    box-shadow: 0px 0px 9px 1px rgba(173, 126, 211, 0.6);
    width: 350px;
    height: 370px; 
    overflow: hidden;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease, transform 0.7s ease;
    -webkit-transition: opacity 0.4s ease, transform 0.7s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front {
    opacity: 1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.card-back {
    opacity: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-categorie.flipped .card-front {
    opacity: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-categorie.flipped .card-back {
    opacity: 1;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.card-categorie .titre-categorie {
    font-size: clamp(20px, 2.5vw, 22px);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.description-categorie {
    font-size: 16px;
    color: #e3e3e3;
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto Serif", serif;
    flex-grow: 1; 
}

.liste-competences {
    list-style: none;
    padding: 3px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    flex: 1;
    overflow-y: auto;
    /* scrollbar-width: none; */
    scrollbar-color: #a855f7;
}

.liste-competences::-webkit-scrollbar {
    width: 6px;
}

.liste-competences::-webkit-scrollbar-thumb {
    background-color: #a855f7;
    border-radius: 10px;
}

.competence-item {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 7px 0;
    margin: 7px 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

.competence-item:hover {
    background-color: #a855f7;
    border-color: #a855f7;
    cursor: pointer;
}

.btn-flip {
    padding: 10px 20px;
    font-size: 15px;
    background: #a855f7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 70%;
    align-self: center;
    margin-top: auto;
}

.btn-flip:hover {
    background: #7e22ce;
}


