@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');



.competences .competences-titre {
    margin-left: 200px;
    margin-right: 200px;
    font-size: clamp(25px, 3.75vw, 50px);
    color: #ffffff;
    font-family: "Roboto Serif", serif;
    font-weight: bold;
    text-transform: uppercase;
    border-left: #f0a500 9px solid;
    padding-left: 10px;
    margin-bottom: 30px;
}

.competences .cartes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* media */
@media(max-width: 1024px) and (min-height: 586px){
    .competences{
        margin-top: 40px;
        padding-bottom: 50px;
    }
    .competences .competences-titre{
        margin-left: 30px;
        margin-right: 20px;
    }
    
}
