*{
  margin: 0;
  padding: 0;
  transition: all 0.9s ease;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(85deg, #11001f, #2a004a);
  min-height: 100vh;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
  
}
.page{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
.page{
    padding-top: 80px;
}


  @media(max-width: 1024px) and (min-height: 586px){
    .page{
        padding-top: 70px;
    }
        
    .page{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    }

  }

