*{
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(85deg, #11001f, #2a004a);
  min-height: 100vh;
}
.page{
  padding-bottom: 80px;
}
